@charset "UTF-8";


*{
	box-sizing:border-box;
}
body{
	background-image:url("image/lib.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	
}form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top:10%;
  text-align:center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

select,
input[type="date"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button[type="submit"]:hover {
  background-color: #45a049;
}
label[for="book"] {
  font-size: 25px;
 font-weight:bold;
}
label[for="student"] {
  font-size: 25px;
 font-weight:bold;
}
label[for="date"] {
  font-size: 25px;
 font-weight:bold;
}

