body {
  background-image: url('image/library.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%
  
}

.container {
    position: absolute;
    top: 46%;
    left: 50%;
    width:30%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border: 2px solid #ccc;
	padding: 20px;
	border-radius: 10px;
	text-align:center;
	background-color: rgba(255, 255, 255, 0.5);
	border-color:black;    
}

form {
	text-align: center;
}

h2 {
	margin-top: 0;
}

label[for="username"] {
	display: block;
	margin-bottom: 5px;
	color:black;
	font-weight:bold;
	font-size:20px;
}
label[for="password"] {
	display: block;
	margin-bottom: 5px;
	color:black;
	font-weight:bold;
	font-size:20px;
}
label[for="confirm_password"] {
	display: block;
	margin-bottom: 5px;
	color:black;
	font-weight:bold;
	font-size:20px;
}
label[for="email"] {
	display: block;
	margin-bottom: 5px;
	color:black;
	font-weight:bold;
	font-size:20px;
}
label[for="contact"] {
	display: block;
	margin-bottom: 5px;
	color:black;
	font-weight:bold;
	font-size:20px;
}

input[type="text"],
input[type="password"] {
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#user_type {
  width: 150px;
  height: 30px;
  display:inline-block;
  left: 50px;
  top: 10px;
  border-radius:5px;
  font-weight:bold;
}


input[type="submit"]:hover {
	background-color: #45a049;
}
