body {
  background: radial-gradient(circle, #ffffff, #e6e6e6, #cccccc);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.form-container {
  flex: 1;
  padding: 30px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="password"] {
  width: 410px;
  padding: 9px;
  margin-bottom: 4px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form-container input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

.form-container input[type="submit"]:hover {
  background-color: #0062cc;
}

.form-container form:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.content-container {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container .updatemember-info {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.content-container .updatemember-info h2 {
  margin-bottom: 15px;
  color: #007bff;
}

.content-container .updatemember-info p {
  margin-bottom: 10px;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .form-container {
    order: 2;
  }
  
  .content-container {
    order: 1;
    margin-top: 20px;
  }
}
